@use "sass:map";
$orange: #FF6838;
$orange-7: #ff6738b3;
$orange-1: #ff67381a;
$dark: #31352b;
$grey: #C2C2C2;
$white: #FFF;
$silver: #ECECEC;
$silver-2: #F9FAFF;

%photo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin photo($photo) {
	background-image: url($photo);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

$breakpoints: (
	phone: 560px,
	tablet: 768px,
	tablet-2: 992px,
	desktop: 1230px
);

@mixin media($breakpoint) {
	@media(max-width:map.get($breakpoints, $breakpoint)) {
		@content
	}
}