.address {
	&__item {
		margin-bottom: 15px;
	}

	&__link {
		font-style: normal;
		font-size: 1.6rem;
		line-height: 2;
		padding: 15px 0 15px 30px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 15px;
			left: 0;
			height: 24px;
			width: 24px;
		}

		&--location:before {
			@include photo('../images/icons/location.svg');
		}

		&--tel:before {
			@include photo('../images/icons/phone.svg');
		}

		&--email:before {
			@include photo('../images/icons/email.svg');
		}
	}
}