.benefit {
	&__container {
		background-image: url("../images/food-delivery.png");
		background-repeat: no-repeat;
		background-position: left 11% center;
		background-size: contain;
	}

	&__wrapper {
		max-width: 545px;
		margin-left: auto;
		padding: 57px 0;
	}

	&__title {
		text-align: left;
		max-width: 400px;
		margin-bottom: 38px;
	}

	&__text {
		margin-bottom: 30px;
		padding-right: 75px;
	}

	&__list {
		margin-bottom: 30px;
	}

	&__item {
		font-size: 2.4rem;
		line-height: 1.5;
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&:before {
			content: "";
			margin-right: 34px;
			width: 34px;
			height: 34px;
		}

		&--watch:before {
			@include photo("../images/icons/watch.svg");
		}

		&--delivery:before {
			@include photo("../images/icons/delivery.svg");
		}

		&--shop:before {
			@include photo("../images/icons/shop.svg")
		}
	}
}