.comment {
	&__item {
		padding: 0 90px;
	}

	&__review {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__img {
		border-radius: 50%;
		margin-right: 80px;
	}

	&__content {
		font-style: italic;
		max-width: 570px;
		position: relative;

		&:after {
			content: "";
			width: 25px;
			height: 20px;
			position: absolute;
			top: 0;
			left: -7%;
			@include photo("../images/icons/brace.svg")
		}

		&:before {
			content: "";
			width: 25px;
			height: 20px;
			position: absolute;
			bottom: 35%;
			right: -7%;
			@include photo("../images/icons/brace.svg");
			transform: scale(-1, 1);
		}
	}

	&__author {
		display: block;
		color: $orange;
		line-height: 1.3;
		font-weight: 600;
		font-style: normal;
		margin-top: 30px;
	}

	&__descr {
		margin-top: 15px;
		display: block;
		color: $dark;
		font-size: 1.4rem;
		line-height: 1.3;
		font-weight: 400;
	}

	&__arrows {
		display: flex;
		justify-content: center;
	}

	&__arrow {
		font-size: 0;
		width: 40px;
		height: 40px;
		border: 3px solid $grey;
		border-radius: 50%;
		transition: all 0.5s;

		&.active {
			border-color: $orange;

			.comment__svg {
				fill: $orange;
			}
		}

		&:hover {
			border-color: $orange-7;
			background-color: $orange-1;

			.comment__svg {
				fill: $orange-7;
			}
		}

		&:focus {
			border-color: $grey;
			outline: 2px solid $orange;
		}

		&:active {
			border-color: transparent;
			background-color: $orange-1;

			.comment__svg {
				fill: $orange;
			}
		}
	}

	&__svg {
		fill: $grey;
		width: 23px;
		height: 23px;
		stroke-width: 1px;
		transition: fill 0.5s;
	}

	&__arrow-next {
		transform: rotate(180deg);
	}
}

.slick-dots {
	display: flex;
	margin: 0 10px;

	button {
		width: 15px;
		height: 15px;
		margin: 8px;
		border-radius: 50%;
		background-color: $grey;
		font-size: 0;
		transition: all 0.5s;

		&:focus {
			outline: 2px solid $orange;
		}

		&:hover {
			outline: 2px solid $orange-7;
			background-color: $orange-1;
		}

		&:active {
			background-color: $orange-7;
		}
	}
}

.slick-active {
	button {
		background-color: $orange;
	}
}