.promo {
	margin-top: -20px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		max-width: 540px;
	}

	&__title {
		text-align: left;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__inner {
		display: flex;
	}

	&__link {
		height: 40px;
		@extend %photo;
		transition: outline 0.5s;
		border-radius: 5px;

		&:focus {
			outline: 2px solid $orange-7;
		}

		&:not(:last-child) {
			margin-right: 30px;
		}

		&:first-child {
			width: 120px;
		}

		&:nth-child(2) {
			width: 135px;
		}
	}
}