.promo {
	margin-top: -20px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media('tablet-2') {
			flex-direction: column;
			row-gap: 30px;
		}

		@include media('phone') {
			align-items: flex-start;
		}
	}

	&__content {
		max-width: 540px;

		@include media('tablet-2') {
			order: 2;
			max-width: 570px;
		}

		@include media('phone') {
			max-width: 400px;
		}
	}

	&__title {
		text-align: left;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__img {
		@include media('phone') {
			display: none;
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 30px;
	}

	&__link {
		height: 40px;
		@extend %photo;
		transition: outline 0.5s;
		border-radius: 5px;

		&:focus {
			outline: 2px solid $orange-7;
		}
	}
}