<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<nav class="header__nav">
				<a class="logo" href="#">
					<img class="logo__img" src="images/icons/logo.svg" alt="Логотип Simple Food" width="200" height="39">
				</a>
				<ul class="header__list">
					<li class="header__item">
						<a class="link current" href="#">
							Главная
						</a>
					</li>
					<li class="header__item">
						<a class="link" href="#">
							Блюда
						</a>
					</li>
					<li class="header__item">
						<a class="link" href="#">
							Контакты
						</a>
					</li>
				</ul>
			</nav>
			<ul class="user-nav">
				<li class="user-nav__item">
					<button class="user-nav__btn">
						<svg class="user-nav__svg">
							<use xlink:href="images/sprite.svg#search"></use>
						</svg>

						<span class="sr-only">Кнопка поиска продукта</span>
					</button>
				</li>
				<li class="user-nav__item">
					<button class="user-nav__btn user-nav__btn--cart">
						<svg class="user-nav__svg">
							<use xlink:href="images/sprite.svg#cart"></use>
						</svg>
						<span class="user-nav__num">
							4
						</span>
						<span class="sr-only">Кнопка корзины</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
</header>