<section class="section restaurant">
	<div class="container">
		<h2 class="title">Лучшие рестораны</h2>
		<ul class="restaurant__list">
			<li class="restaurant__item">
				<img class="restaurant__img" src="images/restaurant/photo-1.jpg" alt="Фото пицци Blaze Pizza">
				<div class="restaurant__inner">
					<h3 class="restaurant__title">Blaze Pizza</h3>
					<div class="restaurant__wrapper">
						<p class="restaurant__time">11:00 - 22:00</p>
						<a class="restaurant__link">
							<svg class="restaurant__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
						</a>
					</div>
				</div>
			</li>
			<li class="restaurant__item">
				<img class="restaurant__img" src="images/restaurant/photo-2.jpg" alt="Фото пицци Pizza Runcho">
				<div class="restaurant__inner">
					<h3 class="restaurant__title">Pizza Runcho</h3>
					<div class="restaurant__wrapper">
						<p class="restaurant__time">12:00 - 21:00</p>
						<a class="restaurant__link">
							<svg class="restaurant__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
						</a>
					</div>
				</div>
			</li>
			<li class="restaurant__item">
				<img class="restaurant__img" src="images/restaurant/photo-3.jpg" alt="Фото пицци Pizza Hut">
				<div class="restaurant__inner">
					<h3 class="restaurant__title">Pizza Hut</h3>
					<div class="restaurant__wrapper">
						<p class="restaurant__time">11:00 - 22:00</p>
						<a class="restaurant__link">
							<svg class="restaurant__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
						</a>
					</div>
				</div>
			</li>
			<li class="restaurant__item">
				<img class="restaurant__img" src="images/restaurant/photo-4.jpg" alt="Фото гамбургера McDonald`s">
				<div class="restaurant__inner">
					<h3 class="restaurant__title">McDonald`s</h3>
					<div class="restaurant__wrapper">
						<p class="restaurant__time">06:00 - 23:00</p>
						<a class="restaurant__link">
							<svg class="restaurant__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
						</a>
					</div>
				</div>
			</li>
			<li class="restaurant__item">
				<img class="restaurant__img" src="images/restaurant/photo-5.jpg" alt="Фото гамбургера KFC">
				<div class="restaurant__inner">
					<h3 class="restaurant__title">KFC</h3>
					<div class="restaurant__wrapper">
						<p class="restaurant__time">06:00 - 23:30</p>
						<a class="restaurant__link">
							<svg class="restaurant__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
						</a>
					</div>
				</div>
			</li>
			<li class="restaurant__item">
				<img class="restaurant__img" src="images/restaurant/photo-6.jpg" alt="Фото гамбургера Star Burgers">
				<div class="restaurant__inner">
					<h3 class="restaurant__title">Star Burgers</h3>
					<div class="restaurant__wrapper">
						<p class="restaurant__time">09:00 - 21:00</p>
						<a class="restaurant__link">
							<svg class="restaurant__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>